[Unit]
Description=Executa mount-history-monitor.sh a cada 15 segundos

[Timer]
OnBootSec=10s
OnUnitActiveSec=15s
AccuracySec=5s

[Install]
WantedBy=timers.target
