[Unit]
Description=Executa nvme-monitor.sh a cada 60 segundos

[Timer]
OnBootSec=15s
OnUnitActiveSec=60s
AccuracySec=5s

[Install]
WantedBy=timers.target
