[Unit]
Description=Executa hotspot-monitor.sh a cada 30 segundos

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=5s

[Install]
WantedBy=timers.target
